html,body{
    background-image: url('https://i.imgur.com/ErZmive.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    font-family: 'Numans', sans-serif;
}


#below-nav {
    position: relative;
    top: 120px;
}

.custom-badge
{
    font-size: 15px;
    position: relative;
    top: -25px;
    right: 25px;
}

.cart{
    cursor: pointer;
}