
/*@import url('https://fonts.googleapis.com/css?family=Numans');*/

html,body{
    background-image: url('https://i.imgur.com/ErZmive.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    font-family: 'Numans', sans-serif;
}

.container{
    height: 100%;
    align-content: center;
}

.card{
    height: 670px;
    margin-top: auto;
    margin-bottom: auto;
    width: 400px;
    background-color: rgba(0,0,0,0.5) !important;
}

.social_icon span{
    font-size: 60px;
    margin-left: 10px;
    color: #FFC312;
}

.social_icon span:hover{
    color: white;
    cursor: pointer;
}

.card-header h3{
    color: white;
}

label{
    color:white;
}
.input-group-prepend span{
    width: 50px;
    background-color: #FFC312;
    color: black;
    border:0 !important;
}

input:focus{
    outline: 0  !important;
    box-shadow: 0 0 0 0 !important;

}

.registration_btn{
    color: black;
    background-color: #FFC312;
    width: 120px;

    position:absolute;
    top: 90%;
    left: 65%;
}

.registration_btn:hover{
    color: black;
    background-color: white;
}

.links{
    color: white;
}

.links a{
    margin-left: 4px;
}